@import "variables";

/* ui */

h1,
h2,
p,
a{
    color: $dark;
}

a{
    text-decoration: none;
}

html,
body{
    margin: 0;
}

/* Index */

.index{
    &-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-header{
        z-index: 10;

        &-title{
            text-align: center;
        }
    }
    &-main{
        width: 100vw;
        height: 100vh;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: auto;

        &-left,
        &-right{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-left{
            background-color: $primary-color;
        }

        &-right{
            background-color: $secondary-color;
        }

        &-image{
            width: 50vh;
            height: 50vh;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &-footer{
        width: 100vw;
        display: flex;
        justify-content: center;
        z-index: 10;
        
        &-link{
            margin: 10px 0;
        }
    }
}